@page
@model MyFriends2.Pages.NotFoundModel
@{
    ViewData["Title"] = "Page not found";
}
<div class="text-center">
    <h4>Page not found</h4>
    <img src="/Images/construction.png" alt="Construction Workers">
    <p>It seems like you've landed on a page that our awesome dedicated programmers are currently building. Please come
        back
        later!<a class="nav-link" asp-area="" asp-page="/Index">Click here to continue.</a></p>
</div>
